/* Import Fonts CSS */
@import 'fonts.css' all;

/*html {
  min-height: 100%;
  position: relative;
}

html, body {
  padding: 0;
}*/

html {
  min-height: 100%;
  position: relative;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'PT-Serif';
  background-color: rgba(0, 0, 0, 1); /* So, basically black or #000000 (black maybe different depending on the system) */
  text-align: center;
  /*padding-bottom: 8px;*/
}

/* For Error Pages */
h1 {
  color: rgba(0, 255, 0, 0.75); /* #b5e853; */
}

a.source-code-link {
  font-size: 2em;
  text-decoration-style: none; /* Not the underline, but setting anyway */
  text-decoration-line: none;

  /*display: block;*/
  display: inline-block;

  /* margin-top: auto; */
  /* margin-bottom: auto; */

  /* padding-top: 2px; */
  padding-bottom: 8px;
}

.success {
  color: black;
  font-family: "FiraCode";
  font-weight: bold;

  display: inline-block;
  padding: 8px;
  margin: 8px;

  background-color: rgba(0, 255, 0, 0.75);

  border: green solid 1px;
}

.warning {
  color: black;
  font-family: "FiraCode";
  font-weight: bold;

  display: inline-block;
  padding: 8px;
  margin: 8px;

  background-color: rgba(255, 255, 0, 0.75);

  border: yellow solid 1px;
}

.error {
  color: black;
  font-family: "FiraCode";
  font-weight: bold;

  display: inline-block;
  padding: 8px;
  margin: 8px;

  background-color: rgba(255, 0, 0, 0.75);

  border: red solid 1px;
}