<?xml version="1.0"?>
<!-- Web.Config Configuration File for ASP.NET (Mono) -->
<!-- Anytime this file is changed, the uwsgi has to be restarted
otherwise, you would get the error below and a 502 Generic Error shows up!!!
Unhandled Exception: System.AppDomainUnloadedException -->

<!--
The settings that can be used in this file are documented at
http://www.mono-project.com/Config_system.web and
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <!--<pages validateRequest="false" /> - Disabled: Useful for Testing XSS on ASP.Net (Doesn't Work) -->
    <!--<httpRuntime requestValidationMode="2.0" /> (Doesn't Work) -->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <!--<add assembly="System.Data.SqlClient"/>-->
        <!--<add assembly="uwsgi"/>-->
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>