<!-- Web.Config Configuration File for ASP.NET (Mono) -->
<!-- Anytime this file is changed, the uwsgi has to be restarted
otherwise, you would get the error below and a 502 Generic Error shows up!!!
Unhandled Exception: System.AppDomainUnloadedException -->

<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true">
      <assemblies>
        <!--<add assembly="Mono.Posix"/>-->
        <!--<add assembly="uwsgi"/>-->
      </assemblies>
    </compilation>
  </system.web>
</configuration>