.rgb {
  background: -webkit-linear-gradient(#ff0000, #00ff00, #0000ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.redblue {
  background: -webkit-linear-gradient(#ff0000, #0000ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.popup {
  text-shadow: 2px 2px #00ff00;
}

.ligature {
  font-family: 'FiraCode';
  font-weight: normal;
  font-style: normal;
}

#received {
  color: #90EE90;
  display: inline-block;
  text-align: left;
}