/* Spinner CSS */
/* https://www.w3schools.com/howto/howto_css_loader.asp */

.loader {
  /*border: 5px solid #f3f3f3;*/ /* Light grey */
  /*border-top: 5px solid #3498db;*/ /* Blue */

  /* Come Up With Decent Color Scheme */
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 2s linear infinite;

  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 8px;
  margin-right: 0px;

  padding: 0px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.results-container * {
  vertical-align: middle;
}

/* End Spinner CSS */

/* Form CSS */

form * {
  margin-top: 8px;
  margin-bottom: 8px;
}

.name-input {
  background-color: #000000;
  color: #b5e853;

  border: 1px solid blue;
  margin: 8px;
  border-radius: 4px;

  padding-left: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.textarea {
  overflow: auto;
  /*resize: none;*/
  max-height: 200px;
  max-width: 1000px;

  height: 186px;
  width: 260px;

  background-color: #000000;
  color: #b5e853;

  border: 1px solid blue;
  margin: 8px;
  border-radius: 4px;

  padding-left: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.about-textarea {
  display: inline-block;
}

/* https://stackoverflow.com/a/1839450/6828099 */
.about-textarea * {
  vertical-align: top;
  margin-left: 0px;
  margin-right: 0px;
}

.about-textarea .about {
  float: left;
}

/* End Form CSS */

/* Virus Scan Message */

.hidden {
  display: none;
}

/* https://stackoverflow.com/a/7596709/6828099 */
.hidden-newline br {
  display: none;
}

/* Submit Button Input */

.submit-button {
  border: 1px solid green;
  padding: 6px 12px;
  cursor: pointer;

  color: black;
  font-family: "PT-Serif";
  font-weight: normal;
  font-size: 14px;

  background-color: rgba(0, 255, 0, 0.75);
}

/* End Submit Button Input */

/* File Upload Input */

/* https://stackoverflow.com/a/25825731 */
.file-button {
  border: 1px solid green;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;

  color: black;
  font-family: "PT-Serif";
  font-weight: normal;
  font-size: 14px;

  background-color: rgba(0, 255, 0, 0.75);
}

.select-file-message {
  /* Intentionally Left Blank */
}

#piet-filename {
  /* Intentionally Left Blank */
}

input[type="file"] {
    display: none;
}

input.upload-box {
  color: green;
  /*background-color: blue;*/
  border: green solid 1px;
}

input.upload-box:hover {
  /*color: green;*/
  /*background-color: blue;*/
  /*border: green solid 1px;*/
}

label.upload, label.name, label.about {
  color: green;
}

/* End File Upload Input */

/* MySQL Messages */

p.mysql-success {
  color: black;
  font-family: "FiraCode";
  font-weight: bold;

  display: inline-block;
  padding: 8px;
  margin: 8px;

  background-color: rgba(0, 255, 0, 0.75);

  border: green solid 1px;
}

/* End MySQL Messages */