/* Virus Scan Message */

.hidden {
  display: none;
}

/* https://stackoverflow.com/a/7596709/6828099 */
.hidden-newline br {
  display: none;
}

/* Submit Button Input */

.submit-button {
  border: 1px solid green;
  padding: 6px 12px;
  cursor: pointer;

  color: black;
  font-family: "PT-Serif";
  font-weight: normal;
  font-size: 14px;

  background-color: rgba(0, 255, 0, 0.75);
}

/* End Submit Button Input */

/* File Upload Input */

/* https://stackoverflow.com/a/25825731 */
.file-button {
  border: 1px solid green;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;

  color: black;
  font-family: "PT-Serif";
  font-weight: normal;
  font-size: 14px;

  background-color: rgba(0, 255, 0, 0.75);
}

.select-file-message {
  /* Intentionally Left Blank */
}

#piet-filename {
  /* Intentionally Left Blank */
}

input[type="file"] {
    display: none;
}

input.upload-box {
  color: green;
  /*background-color: blue;*/
  border: green solid 1px;
}

input.upload-box:hover {
  /*color: green;*/
  /*background-color: blue;*/
  /*border: green solid 1px;*/
}

label.upload {
  color: green;
}

/* End File Upload Input */

/* MySQL Messages */

p.mysql-success {
  color: black;
  font-family: "FiraCode";
  font-weight: bold;

  display: inline-block;
  padding: 8px;
  margin: 8px;

  background-color: rgba(0, 255, 0, 0.75);

  border: green solid 1px;
}

/* End MySQL Messages */