@charset "UTF-8";

#container fieldset {
  margin: 8px;
}

.hidden-newline-mobile br {
  display: none;
}

fieldset {
  border-color: blue;
  margin-top: 8px;
  margin-bottom: 8px;
}

legend {
  font-family: "FiraCode";
  color: rgba(0, 255, 0, 0.75); /* #b5e853 */
  text-align: left;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
}

/*
legend::before {
  content: "<-"
}

legend::after {
  content: "->"
}
*/

/* Fix Table For Small Screens - https://codepen.io/AllThingsSmitty/pen/MyqmdM */

@media screen and (max-width: 600px) {
  table {
    border: 0;
    margin-left: 8px !important;
    margin-right: 8px !important;
    margin-top: 8px !important;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before {
    /*content: attr(data-label);*/
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 100px;
  }

  table td:last-child {
    border-bottom: 0;
  }

  table td::before {
    color: rgba(0, 255, 0, 0.75);
    font-weight: bold;
    font-family: "FiraCode";
    content: attr(data-column-name);
  }

  .hidden-newline-mobile br {
    display: block;
  }
}

.key-input {
  font-family: 'FiraCode';
  font-size: 14px;

  max-width: 850px;

  background-color: #000000;
  color: rgba(0, 255, 0, 0.75); /* #b5e853; */

  border: 1px solid blue;
  margin: 8px;
  border-radius: 4px;

  padding-left: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.key-input:focus {
  outline: none !important;
  border:1px solid cyan;
  box-shadow: 0 0 10px #719ECE;
}

/* https://css-tricks.com/snippets/css/change-autocomplete-styles-webkit-browsers/ */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgba(0, 255, 0, 0.75);
  -webkit-box-shadow: 0 0 0px 1000px #000000 inset;
}

/* Submit Button Input */

.submit-button {
  border: 1px solid green;
  padding: 6px 12px;
  cursor: pointer;

  border-radius: 4px;

  color: black;
  font-family: "PT-Serif";
  font-weight: normal;
  font-size: 14px;

  background-color: rgba(0, 255, 0, 0.75);
}

/* End Submit Button Input */

/* File Upload Input */

/* https://stackoverflow.com/a/25825731 */
.file-button {
  border: 1px solid green;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;

  border-radius: 4px;

  color: black;
  font-family: "PT-Serif";
  font-weight: normal;
  font-size: 14px;

  background-color: rgba(0, 255, 0, 0.75);
}

.select-file-message {
  /* Intentionally Left Blank */
}

#piet-filename {
  /* Intentionally Left Blank */
}

input[type="file"] {
    display: none;
}

input.upload-box {
  color: green;
  /*background-color: blue;*/
  border: green solid 1px;
}

input.upload-box:hover {
  /*color: green;*/
  /*background-color: blue;*/
  /*border: green solid 1px;*/
}

label.upload, label.name, label.about {
  font-family: "FiraCode";
  color: rgba(0, 255, 0, 0.75);
}

/* End File Upload Input */

/* MySQL Messages */
/* Not Relevant Because Message Is Turned Off */

p.mysql-success {
  color: black;
  font-family: "FiraCode";
  font-weight: bold;

  display: inline-block;
  padding: 8px;
  margin: 8px;

  background-color: rgba(0, 255, 0, 0.75);

  border: green solid 1px;
}

/* End MySQL Messages */

/* Custom Message Links */

.success-link {
  color: black;
}

.warning-link {
  color: black;
}

.error-link {
  color: black;
}

/* End Custom Message Links */

/* Table Modifiers */
/* I intentionally left the <table> tag in front of the other table-related tags */
/* Normal usage will always require that the related tags be a child of <table> */

@media screen and (min-width: 601px) {
  .table-div {
    max-width: 100%;
    margin-left: 8px !important;
    margin-right: 8px !important;
    margin-top: 8px !important;
  }

  table {
    width: 100%;
  }
}

table {
  /* font-family: sans-serif; */
  font-family: 'OpenSans - Lighter';
  font-weight: lighter;
  font-style: normal;
  border-collapse: collapse;
  margin: auto;
}

table td, table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  color: #90EE90;
}

/* Table Header */

table th {
  background-color: green;
  color: #ffffff;
}

/* Table Data */

table td {
  color: #90EE90;
}

/* Table Row */

table tr:nth-child(odd) {
  color: #90EE90;
  background-color: black;
}

table tr:nth-child(even) {
  color: #90EE90;
  background-color: #202020;
}

/* Table Footer */

tfoot td {
  /*color: #fffffff;*/
  font-weight: bold;
}

/* End Table */