label {
  color: #90EE90;
}

form {
  display: inline-block;
  text-align: left;
  /* margin: 20px; */
}

div.form {
  margin-left: auto;
  margin-right: auto;
}

input {
  margin: 2.5px;
}

#injection-status {
  display: inline-block;
  text-align: left;
}

#injection-info {
  display: inline-block;
  text-align: left;
}

.sqlquery {
  font-family: 'FiraCode';
  font-size: 14px;

  max-width: 850px;

  background-color: #000000;
  color: rgba(0, 255, 0, 0.75); /* #b5e853; */

  border: 1px solid blue;
  margin: 8px;
  border-radius: 4px;

  padding-left: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.sqlquery:focus {
  outline: none !important;
  border:1px solid cyan;
  box-shadow: 0 0 10px #719ECE;
}

/* https://css-tricks.com/snippets/css/change-autocomplete-styles-webkit-browsers/ */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgba(0, 255, 0, 0.75);
  -webkit-box-shadow: 0 0 0px 1000px #000000 inset;
}

/* Computer Monitor */
@media all and (min-width: 1025px) {
  #injection-status, #injection-info {
    padding-left: 250px;
    padding-right: 250px;
  }
}

/* Table */
@media all and (min-width: 400px) and (max-width: 1024px) {
  #injection-status, #injection-info {
    padding-left: 50px;
    padding-right: 50px;
  }
}

/* Phone */
@media all and (max-width: 399px) {
  #injection-status, #injection-info {
    padding-left: auto;
    padding-right: auto;
  }
}
