table {
  font-family: sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: green;
  color: #ffffff;
}

td {
  color: #90EE90;
}

tr:nth-child(odd) {
  color: #90EE90;
  background-color: black; /* Still playing around with opacity - rgba(0, 0, 0, 0); */
}

tr:nth-child(even) {
  color: #90EE90;
  background-color: #202020; /* rgba(0, 0, 0, 0.9); */
}

/*
I decided against having alternating text color.

tr:nth-child(even) > td {
  color: green;
}*/

body {
  background-color: rgba(0, 0, 0, 1); /* So, basically black or #000000 (black maybe different depending on the system) */
}

fieldset {
  margin-top: 10px;
  margin-bottom: 10px;
}

legend {
  color: #90EE90;
}

h1, h2, h3, h4, h5, h6 {
  color: #90EE90;
}

li {
  color: #90EE90;
}

p {
  color: #90EE90;
}

a {
  color: #63c0f5;
}

a:visited {
  color: #A200D9;
}

img {
  clear: none; /* Only because required by assignment, otherwise, unnecessary */
  float: none; /* Only because required by assignment, otherwise, unnecessary */
  max-width: 100px;
  width: 100px; /* Only because required by assignment, otherwise, unnecessary */
  height: 100px;
}

#table {
  /* ID - Only exists because required by assignment */
}

.iamlegend {
  /* Class - Only exists because required by assignment */
}
