@media all and (min-width: 401px) {
  .header-hidden {
    display: none !important;
  }
}

@media all and (max-width: 400px) {
  /* Override Main CSS Body and HTML Tags */

  html, body {
    /*min-height: 96.25%;*/
    /*height: 96.25%;*/
  }

  /* End Override Main CSS Body and HTML Tags */

  .nav-open-hidden {
    display: none !important;
  }

  .header {
    background-color: rgba(25,25,25,1);
    /*z-index: 1;*/

    /*margin-bottom: 4px;*/

    display: block;
    position: relative;
    padding-bottom: 48px; /* 48px */
  }

  .header button {
    /*display: block;*/
    display: inline-block;
    height: 48px;

    background-color: inherit;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }

  .header button {
    margin: 0px;
  }

  /* Change background color of buttons on hover */
  .header button:hover {
    background-color: #90EE90;
    color: #000000;
  }

  /* Create an active/current "tab button" class */
  .header button.active {
    background-color: #90EE90;
    color: #000000;
  }
}