/* Original Code Came From example.css from Polymaps Examples */
#ung-map {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;

  /* TODO: How Do I Make This Responsive? */
  height: 600px;

  /*position: absolute;*/

  /*filter: saturate(8);*/
  filter: hue-rotate(90deg);
}

@media all and (max-width: 400px) {
  #ung-map {
    /* TODO: How Do I Make This Responsive? */
    height: 400px;
  }
}

.map {
  /*height: 100%;*/
  /*position: absolute;*/

  /*border: blue solid 1px;*/
  margin-bottom: 8px;

  margin-left: 8px;
  margin-right: 8px;
  position: relative;
}

.coordinates {
  color: white;
  font-size: 15px; /* 1vw; */
  margin: 0;
  transform: translate(-5%,0);
  text-align: center;
  position: absolute;
  top: 0%;
  right: 0%;
}

.grid {
  stroke: #ccc;
  stroke-opacity: .1;
  shape-rendering: crispEdges;
}

.compass .back {
  fill: #eee;
  fill-opacity: .8;
}

.compass .fore {
  stroke: #999;
  stroke-width: 1.5px;
}

.compass .direction {
  fill: none;
}

.compass .chevron {
  fill: none;
  stroke: #999;
  stroke-width: 5px;
}

.compass .zoom .chevron {
  stroke-width: 4px;
}

.compass .active .chevron, .compass .chevron.active {
  stroke: #fff;
}

.compass.active .active .direction {
  fill: #999;
}
