/* Import CSS */
@import "tabs.css";
@import "header.css";
@import url("/fonts/Icons/font-awesome/css/all.min.css");
/* End Import CSS */

/* Remove Firefox Selection Border */
/* https://stackoverflow.com/a/199319/6828099 */

button::-moz-focus-inner {
  border: 0;
}

/* End Remove Firefox Selection Border */

.div-camera {
  margin: 8px;
  /*margin-top: 8px;*/
  /*margin-bottom: 8px;*/
}

.camera {
  width: 80%;
  height: auto;
}

@media all and (max-width: 400px) {
  .camera {
    width: 100%;
    /*height: auto;*/
  }
}

/* https://medium.com/@dylanon/throwing-shade-how-to-shade-images-in-html-css-9d37b17b9d10 */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/filter */
.shade {
  /*-webkit-filter: brightness(0.5);*/
  /*filter: brightness(0.5);*/

  /*filter: blur(5px) invert(100%);*/
  filter: saturate(8); /* Causes Blocky Pic on Original Grainy Pic */
  /*filter: drop-shadow(16px 16px 20px red) invert(75%);*/
  /*filter: hue-rotate(180deg);*/
}

.temperature .center {
  text-align: left;
  display: inline-block;
}

.temperature {
  color: black;
  font-family: "FiraCode";
  font-weight: bold;

  text-align: center;

  /*display: inline-block;*/
  padding: 8px;
  margin: 8px;

  /*margin-left: -5px;*/
  /*width: 100%;*/

  background-color: rgba(0, 255, 0, 0.75);
  border: green solid 1px;
}

.button {
  border: 1px solid green;
  padding: 6px 12px;
  margin: 4px;
  cursor: pointer;

  word-break: keep-all;
  display: inline-block;
  border-radius: 4px;

  color: black;
  font-family: "PT-Serif";
  font-weight: normal;
  font-size: 14px;
  text-decoration: none;

  background-color: rgba(0, 255, 0, 0.75);
}

.wunderground {
  /* Intentionally Left Blank */
}

.twitter {
  /* Intentionally Left Blank */
}

.facebook {
  /* Intentionally Left Blank */
}